---
import CheckIn from "./CheckIn.astro";
import ContentBody from "./ContentBody.astro";

---

<div class="bg-[url('../assets/bg-image.png')] bg-cover bg-center min-h-screen flex flex-col items-center justify-center">
  <section class="flex justify-center items-center h-screen">
    <CheckIn />
  </section>
</div>

<div class=" mx-1 xl:mx-30 2xl:mx-[50rem]">
  <ContentBody />
</div>