<section class="bg-white w-[1071px] h-[293px] rounded-[20px]">
  <section class="p-14 text-2xl">
    <h1 style={{ color: "#00827A" }}>Book your stay</h1>
    <div class="flex flex-row items-center justify-between">
      <form class="mt-4">
        <label for="checkin" class="block text-gray-700 text-base">Check-in Date:</label>
        <input
          type="date"
          id="checkin"
          name="checkin"
          class="mt-1 p-2 border border-gray-300 rounded w-full custom-placeholder"
          placeholder="Select date"
        />
      </form>

      <form class="mt-4">
        <label for="checkin" class="block text-gray-700 text-base">Check-in Date:</label>
        <input
          type="date"
          id="checkin"
          name="checkin"
          class="mt-1 p-2 border border-gray-300 rounded w-full custom-placeholder"
          placeholder="Select date"
        />
      </form>

      <form class="mt-4">
        <label for="checkin" class="block text-gray-700 text-base">Guest:</label>
        <input
          type="number"
          id="checkin"
          name="checkin"
          class="mt-1 p-2 border border-gray-300 rounded w-32 custom-placeholder"
          placeholder="Select date"
        />
      </form>

      <button
        class="bg-[#2EE4EB] text-white rounded hover:bg-blue-700 w-40 h-10 "
      >
        Search
      </button>
    </div>
  </section>
</section>

<style>
    .custom-placeholder::placeholder {
      color: #888;
      font-size: 0.875rem; 
    }
  </style>
